# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Poetry
poetry.lock

# Logs
logs/
*.log
log/
*/logs/*
*/log/*
process_log.log
file_operations.log
debug.log
error.log
*.log.*
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.webp
*/ocr_cache.json
src/nodes/pics/ocr_cache.json

*.txt
src/nodes/config/performance_config.json

src\scripts\folder\archive_check_history.yaml