# 第三方依赖包

Pillow>=11.1.0
PyQt5
chardet
charset_normalizer
click>=8.1.8
colorama>=0.4.6
config
opencv-python>=4.11.0.86
dataclasses
diff_match_patch
python-dotenv>=1.0.1
PyMuPDF>=1.25.3
flet
fsspec
imagehash>=4.3.2
jaconv
keyboard
loguru
msgpack>=1.1.0
nanoid
networkx
ntsecuritycon
numpy>=2.2.3
onnx
onnx2torch
opencc
openpyxl
orjson
pandas
pangu
patoolib
pdf2image>=1.17.0
pillow_avif
pillow_jxl
portalocker
prompt_toolkit
psd_tools
psutil>=7.0.0
py7zr>=0.22.0
pyperclip>=1.9.0
pytest>=8.3.4
pyvips
questionary>=2.1.0
rapidfuzz>=3.12.1
rarfile
regex
requests>=2.32.3
rich>=13.9.4
send2trash>=1.8.3
textual>=2.0.4
toml
torch
tqdm>=4.67.1
ttkbootstrap
ujson
wand
watchdog
win32api
win32clipboard
win32com
win32con
win32file
win32gui
win32process
win32security
PyYAML>=6.0.2
